.codeBlock {
  background-color: #f6f8fa; /* Light gray background */
  border: 1px solid #d1d5da; /* Light border */
  border-radius: 6px;
  padding: 1em;
  overflow-x: auto;
  margin-bottom: 16px;
}

.codeBlock pre {
  margin: 0;
}

.codeBlock code {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 85%;
  line-height: 1.45;
  white-space: pre;
}

.codeBlock button {
  display: inline-block;
  font-size: 0.8em;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  color: #fff;
  background-color: #2cbe4e;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.codeBlock button:hover:not(:disabled) {
  background-color: #279f43;
}

.codeBlock button:disabled {
  background-color: #94d3a2;
}
