/* CourseBox.module.css */
.courseBox {
  width: 12em;  /* Fixed width */
  height: 10em; /* Fixed height */
  margin: 10px;
  border: 2px solid  rgb(189, 5, 5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; /* Hide excess content */
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 15px; /* Adjust padding for better spacing */
  font-family: 'Arial', sans-serif; /* Clean, readable font */
  color: #000000; /* Darker text for better contrast */
}

.courseBox:hover {
  transform: scale(1.05); /* Slightly enlarge the box on hover */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); /* Increase shadow depth for a 'lifted' effect */
}

.courseTitle {
  font-weight: bold;
  color: #000000;

  /* more styling properties */
}

.professorName {
  font-size: 16px;
  color: rgb(0, 0, 0);
  /* more styling properties */
}

