.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  width: 60%;  /* Adjust this value as needed */
  margin: 0 auto;
}



.title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: darkred;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 40px;
}

.courseGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.searchInput {
  padding: 10px 25px 10px 35px;    /* Adjusted padding to give space on the left for the icon */
  font-size: 1em;                  /* Standard font size */
  width: 55%;                      /* Slightly narrower search bar */
  margin-bottom: 20px;             /* Adjusted margin for spacing */
  border-radius: 20px;             /* Adjusted for an elongated oval shape */
  border: 1px solid black;         /* Black outline */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Slightly reduced shadow for depth */
  transition: box-shadow 0.3s, transform 0.3s; /* Transition for smooth effects */
  background: white;

  color: #333;                     /* Darker text color for better contrast against white */

}


.searchInput::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.searchInput:focus {
  outline: none;                 /* Remove default outline */
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);  /* Slightly reduced shadow on focus */
  transform: translateY(-1px);   /* Slight upward shift for a 'pop' effect */
}


.referralText {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1em; /* Increased font size */
  font-weight: bold; /* Bold text */
  background-color:  darkred;/* Yellow background */
  color: rgb(255, 255, 255); /* Black text */
  padding: 10px 20px; /* Increased padding */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  white-space: nowrap;
  width: 240px; /* Adjusted initial width */
}

.referralText:hover {
  background-color: hsl(0, 41%, 62%); /* Slightly lighter or darker for hover effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.classInquiryContainer {
  position: absolute;
  top: 70px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Changed to center for both text and button */
  width: auto; /* Adjusted width to fit content */
}

.classInquiryText {
  font-size: 1.5em;
  color: #000000;
  margin-bottom: 10px; /* Space between the text and the button */
  font-weight: bold; /* Corrected property from font-style to font-weight */
}

.classInquiryButton {
  padding: 10px 23px; /* Increased padding for a bigger button */
  background-color: #6a00ff; /* Use a color that fits with your theme */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em; /* Increased font size for better visibility */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: auto; /* Adjusted width to fit content */
  max-width: 400px; /* Maximum width for the button */
  font-weight: bold; /* Bold text */
  
}

.classInquiryButton:hover {
  background-color: hsl(263, 75%, 70%); /* Slightly lighter or darker for hover effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




.popup {
  background-color: #ffffff;
  color: darkred;
  padding: 20px;
  border-radius: 10px;
  width: 600px; /* Adjust the width as needed */
  max-width: 90%;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Space between header and content */
}

.popupHeader h2 {
  font-size: 1.5rem; /* Larger font size for the header */
  font-weight: bold; /* Bold font weight for the header */
  margin: 0; /* Remove margin for precise alignment */

  text-align: center;
  width: 100%; /* Allow the h2 to take up the full width for centering */
  align-self: center; /* Override the flex-start alignment */
}


.popupHeader button {
  background: none;
  border: none;
  color: darkred;
  cursor: pointer;
  font-size: 1.5rem;
  align-self: flex-end; /* Align to the top right */
}

.popupContent {
  text-align: left; /* Align text to the left */
  width: 100%; /* Ensure the content uses full width */
}

.referralLinkBox {
  background-color: white;
  display: flex;
  margin-top: 20px;
  border: 2px solid darkred; /* Red border */
  border-radius: 5px;
  overflow: hidden;

  justify-content: center; /* This will center the input and button within the flex container */
  padding: 0; /* Remove padding if any to ensure elements are truly centered */

}

.referralRewards {
  margin: 20px 0; /* Space between rewards and other content */
  font-style: italic;
  font-weight: bold; /* Bold font weight for the header */
}

.referralLinkBox input {
  flex-grow: 1; /* Input takes up available space */
  padding: 10px;
  border: none;
  color: #333;
  font-size: 1rem; /* Match font size to the rest of the content */
}

.referralLinkBox button {
  padding: 10px 20px;
  background-color: darkred;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.popupOverlay {
  position: fixed; /* Fixed position to ensure it stays in place on the screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  z-index: 1000; /* High z-index to ensure it's on top of other content */
}


.referralLinkBox button:hover {
  background-color: #ff9898;
}

/* Ensure the referral box takes up more space */
.referralLinkBox input {
  flex-grow: 1;
  border-radius: 5px 0 0 5px;
  margin-right: -2px; /* Overlap the border between input and button */
  padding-left: 10px;
  padding-right: 10px;
}

/* Style changes to make copy button align with the input field */
.referralLinkBox button {
  border-radius: 0 5px 5px 0;
}

/* Additional responsive adjustments if necessary */
@media (max-width: 768px) {
  .popup {
    width: 80%; /* Slightly reduce width on smaller screens */
  }
}

.popupContent,
.referralRewards,
.referralLinkBox {
  text-align: center; /* Center text within these elements */
}

.referralLinkBox input,
.referralLinkBox button {
  text-align: center; /* Center text for input and button if needed */
  /* Remove any specific alignment that might conflict with centering */
}





.referralTrackerWrapper {
  position: absolute; /* Position the wrapper to the top right */
  top: 10px;
  right: 10px;
  width: 250px; /* Adjust the width as needed */
  text-align: center; /* Center the header and the progress bar */
}

.referralHeader {
  color: darkred;
  font-size: 1rem; /* Adjust size as needed */
  margin-bottom: 4px; /* Space between header and progress bar */
}


.progressBarWrapper {
  position: absolute; /* Position the wrapper to the top right */
  top: 30px;
  right: 10px;
  width: 250px; /* Adjust the width as needed */
}

.progressBarContainer {
  position: relative;
  width: 100%;
  height: 20px; /* Increase height for a thicker bar */
  background-color: #eee;
  border-radius: 10px; /* Adjust border-radius for consistency */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.progressBar {
  height: 100%;
  background-color: darkred;
  border-radius: 10px; /* Rounded corners */
  position: relative;
  z-index: 1;
  transition: width 0.4s ease; /* Smooth transition for the bar animation */
}

.progressNumbers {
  display: flex;
  justify-content: space-between;
  position: absolute; /* Positioned absolutely to the container */
  top: 100%; /* Position right below the progress bar */
  width: 100%;
  margin-top: 4px; /* Adjusted space from the progress bar */
}

.progressNumber {
  flex: 1; /* Distribute space evenly */
  text-align: center;
  color: #666; /* Subtle color for numbers */
  font-size: 0.75rem; /* Increase font size for legibility */
  transition: color 0.3s; /* Transition for when number becomes active */
}

.activeNumber {
  color: darkred; /* Color to highlight the current number */
  font-weight: bold;
}












