.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the start of the main axis */
  align-items: flex-start; /* Align items to the start of the cross axis */
  padding: 1rem;
  margin-left: 20.3125em; /* Adjust this value so that the content aligns with the left blue line */
  width: calc(100vw - 25em); /* Increase the subtracted value to make the width smaller */
}





.header {
  width: auto;
  position: relative;
}




.header p {
  text-align: center;
}


.cloudform {
  position: fixed;
  bottom: 0; /* Keeps the bottom edge at the bottom of the viewport */
  left: 12vw; /* Anchor to the left side */
  right: 0%; /* Adjust right spacing - this effectively sets the width */
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem; /* Padding inside the box */
  background: #ffffff; /* Red background */
  box-sizing: border-box;
  width: 100vw;
  height: 105px; /* Example height - adjust as needed */
}
.termsOfUse {
  font-size: 0.7rem; /* Small text size */
  text-align: center;
  position: absolute;
  bottom: 0px; /* Position at the bottom of the cloudform */
  left: -8vw; /* Anchor to the left side */
  width: 100%;
  color: darkred; /* A subtle color */
  z-index: 1000; /* Higher z-index */
}

.termsOfUse:hover{
  color: rgb(255, 160, 160); /* A subtle color */

}









.message-container {
  padding-bottom: 6.25em; /* You may adjust this value */
  overflow-y: auto;
  height: calc(100vh - 6.25em); /* Adjust the height calculation to ensure it does not overlap */
  width: calc(100% -7.5em); /* Adjust width to prevent overlap with .textarea-container */
  margin-left: 7.5em; /* Ensure this matches the left property of .textarea-container */
}

.textarea-container {
  position: relative;
  left: 0;
  bottom: 20px;
  right: 0; /* This ensures it stretches across the bottom */
  z-index: 1000; /* High enough to stay on top */
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  padding: 1rem; /* Space inside the container */
  box-sizing: border-box; /* Include padding in width calculation */
  background: #ffffff; /* Background color for visibility */
  
}

.textarea {
  resize: vertical; /* Allows vertical resizing */
  overflow: auto; /* Change overflow to make resize work */
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.0625em solid #ffd4d4;
  color: #000;
  outline: none;
  flex-grow: 1; /* Allow textarea to fill the space */
  margin-right: 12rem; /* Adjusted to create space for the button inside the textarea */
  width: 50rem;
  max-height: 3.5em; /* Maximum expandable height */
  min-height: 3.5em;

  
  padding-right: 4rem; /* Adjust this value based on the size of your button */
  position: relative; /* This allows absolute positioning for child elements */
}



.generatebutton {

  left: 74%; /* Position the left edge of the button in the middle of .cloudform */
  transform: translate(-50%, -50%); /* Shift the button back by half its width and height to center it */
  color: rgb(146, 40, 40);
  background: #ffffff; /* Background color for the button */
  padding: 0.5rem 1rem; /* Padding for the button */
  border: 0.0625em solid #ffffff; /* Border for the button */
  border-radius: 0.5rem; /* Rounded corners for the button */
  z-index: 1200; /* Ensure it's above other elements */


  position: absolute;
  top: 50%;

  transform: translateY(-50%); /* This centers the button vertically */
}



.headerSection h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerSection h1 .courseTitle {
  display: inline; /* Ensures the course title is in the same line as CornellGPT */
}




.textarea:disabled {
  opacity: 0.5;
}


.textarea:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 0 0.1875em #a32121;
}


.textarea::placeholder {
  color: #6b7280;
}


.loadingwheel {
  position: absolute;
  bottom: 0.2rem; /* Adjust as needed based on your layout */
  right: 0rem; /* Position to the right inside the textarea-container or cloudform */
  z-index: 1010; /* Ensure it's above other elements */
  /* Add any additional styling as needed */
}




.svgicon {
  transform: rotate(90deg);
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}


.generatebutton:hover {
  background: #e4575726;
  border-radius: 0.2rem;
}


.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}


.messagelist {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.5rem;
}


.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
  
}


.usermessage {
  background: #ffffff;
  padding: 1.5rem;
  color: #000;
}


.usermessagewaiting {
  padding: 1.5rem;
  color: #000;
  background: linear-gradient(to right, #ffffff38,#fb000038, #ff000038);
  background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient;
}
.selectedClassName {
  font-size: 0.9em;
  text-align: center;
  color: #8c1b1b; /* You can adjust the color as desired */
  margin-top: 1em; /* Adjust spacing as needed */
}


@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}


.apimessage {
  background: #fffafa;
  padding: 1.5rem;
  color: #000000 !important;
  /* animation: fadein 0.5s; */
}


.apimessage {
  white-space: pre-wrap;
}

.apimessage strong {
  font-weight: bold;
}

.apimessage em {
  font-style: italic;
}

.apimessage {
  position: relative;
  /* Other styles... */
}


.apimessage::after {
  content: "©CornellGPT";
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.9375em;
  font-family: Arial, sans-serif;
  color: #8B0000;
  margin-bottom: 0.06em; /* Adjust the spacing from the bottom */
  margin-right: 0.625em; /* Shifts the watermark slightly to the left */
}






.disclaimer {
  display: block; /* Ensures it appears on a new line below the textarea */
  width: 100%; /* Match the width of the textarea container */
  text-align: center; /* Center the text */
  font-size: 0.1rem; /* Set the font size to something smaller */
  color: #3d5ea1; /* A lighter color for the disclaimer text */
  margin-top: 0.5rem; /* Add some space between the textarea and the disclaimer text */
}


.centeredTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  text-align: center;
}

.centeredContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}






@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.apimessage,
.usermessage,
.usermessagewaiting {
  display: flex;
}


.markdownanswer {
  line-height: 1.75;
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: #ffffff;
  font-weight: 500;
}

.markdownanswer code {
  color: #000000;
  font-weight: 500;
  white-space: pre-wrap !important;
}

.markdownanswer ol,
.markdownanswer ul {
  margin: 1rem;
}

.cloudform form {
  display: flex;
  align-items: center;
  position: relative; /* Allows absolute positioning for children */
}


.boticon,
.usericon {
  margin-right: 1rem;
  border-radius: 0.1rem;
  height: 100%;
}

.markdownanswer h1,
.markdownanswer h2,
.markdownanswer h3 {
  font-size: inherit;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  flex-direction: column;
}


.cloud {
  width: 65vw;
  height: 65vh;
  background: #ffffff;
  border-radius: 0.5rem;
  border: 0.0625em solid #d9d9e3;
  display: flex;
  justify-content: center;
  align-items: center;
}


.pointsnormal {
  width: 90%;
  height: 90%;
}


.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}


.footer {
  color: #5f6368;
  font-size: 0.8rem;
  margin: 1.5rem;
}


.footer a {
  font-weight: 500;
  color: #7a7d81;
}


.footer a:hover {
  opacity: 0.8;
}


.appWrapper {
  display: flex;
}



.mainContent {
  flex: 1; /* This will make the main content take up the remaining space */
 
}


.cloud {
  width: 90%; /* Full width */
  height: calc(100% - 3.125em); /* Remaining height minus the height of the input area */
  background: #ffffff;
  border: none; /* Removing the border */
  display: flex;
  flex-direction: column; /* Stack messages vertically */
  justify-content: flex-end; /* Align messages to the bottom */
  overflow-y: auto; /* Enable scrolling for overflow content */
}

/* Style the input area */
.cloudform {
  width: 100%; /* Full width */
  padding-left: 2rem; 
}




/* Mobile optimization */
@media (max-width: 37.5em) {
  .main {
    padding: 1rem;
    max-height: 90vh;
  }


  .cloud {
    width: 22rem;
    height: 28rem;
  }
  .textarea {
    width: 22rem;
  }
  .topnav {
    border: 0.0625em solid black;
    align-items: center;
    padding: 0.85rem 0.75rem 0.85rem 0.75rem;
  }


  .navlogo {
    font-size: 1.25rem;
    width: 20rem;
  }


  .markdownanswer code {
    white-space: pre-wrap !important;
  }


  .footer {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
  }
  .paragraphIndentation p:not(:first-child) {
    text-indent: 3.125em; /* You can adjust the value as needed */
  }

/* .preformatted-text {
  white-space: pre-line;
} */

}


.noMessages {
  position: fixed; /* Changed from absolute to fixed to position relative to the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the element both horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width of the viewport */
  z-index: 1500; /* Ensure it's above other elements, adjust as needed */
}
.backButton {
  font-size: 1.9em;
  position: absolute;
  top: -5px;
  left: 195px;
  background: none;
  border: none;
  cursor: pointer;
  color: darkred;
}


.typewriter {
  position: fixed; /* Added fixed positioning */
  top: 40%; /* Center vertically */
  left: 55%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center the element */
  font-size: 7.0rem; /* Bigger font size for typewriter */
  color: darkred; /* Color of the text */
  border-right: 0.2px solid #000000; /* Cursor */
  white-space: nowrap;
  overflow: hidden;
  padding: 1rem;
  z-index: 500; /* Ensure it's above other elements, adjust as needed */
  width: auto; /* Adjust width as necessary */
}

/* Ensure that this styling doesn't break the layout on smaller screens */
@media (max-width: 768px) {
  .typewriter {
    font-size: 4rem; /* Smaller font size for mobile devices */
  }
}

.classInquiryButton {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  top: 0.3rem; /* Position from the top of the page */
  right: 1rem; /* Position from the right of the page */
  padding: 10px 23px;
  background-color: #6a00ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: auto;
  max-width: 400px;
  font-weight: bold;
}

.classInquiryButton:hover {
  background-color: hsl(263, 75%, 70%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}






