.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 15px;
  height: 100vh;
  width: 100%;
  max-width: 600px;
  padding-top: 15vh;
  margin: auto;
}

.signDiv {
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  background-color: #ffffff; /* Temporary background color to check alignment */

  width: 100%; /* Take the full width of its parent container */
  max-width: 500px; /* You can adjust this to the maximum width you want */
  margin: 0 auto;
}

.LogIn {
  font-size: 3.2em;
  color: darkred;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
}

.noteText {
  font-size: 0.30em;
  color: #040404;
  text-align: center;
  margin-top: 15px;
  width: 80%;
  margin: 0 auto;
  max-width: 900px;
  font-style: italic;
}

.emailLink {
  color:rgb(0, 76, 255);
  text-decoration: none;
  font-size: 0.9em;
}

.emailLink:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
  width: 100%;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.9em;
  color: darkred;
}

.footerLink {
  color: darkred;
  text-decoration: none;
  padding: 7.5px;
  font-size: 0.9em;
}

.footerLink:hover {
  text-decoration: underline;
}

.backButton {
  font-size: 1.4em;
  position: absolute;
  top: 15px;
  left: 35px;
  background: none;
  border: none;
  cursor: pointer;
  color: darkred;
}

.errorMessage {
  color: red;
  background-color: #ffe0e0;
  border: 1.5px solid red;
  padding: 15px;
  margin-top: 30px;
  border-radius: 7.5px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 0.9em;
  font-weight: bold;
}
