.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-37%, -50%); 
  z-index: 1030;
  width: 90%; /* This makes the modal width 90% of the viewport width */
  max-width: 800px; /* Increase max-width to 800px for a wider modal */
  background: #fff;
  padding: 2rem; /* You can adjust the padding if you want less whitespace */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  display: flex; /* Changed from grid to flex for better control */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1029;
}

.StripeElement {
  margin-bottom: 1.25rem;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: white;
}

.modalLeft {
  padding-right: 1em;
}

.modalRight {
  padding-left: 1em;
}

.freeHeader {
  text-align: center;
  font-size: 2rem; /* Adjust the size as needed */
  font-weight: bold;
  margin-bottom: 29rem;
  color: #333;
}

.divider {
  background-color: black; /* Changed from #ccc to black */
  width: 1px; /* Changed from 10px to make it a thin line */
  height: 100%; /* Make sure it stretches */
}

.modalPayment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modalMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}


.purpleButton {
  background-color: #6a00ff; /* Purple color */
  border: none;
  color: white;
  padding: 0.75rem 1rem; /* Match horizontal padding */
  border-radius: 0.5rem;

  cursor: pointer;
  transition: background-color 0.3s ease;

  width: auto; 
  margin-top: -50rem;
}


.purpleButton:hover {
  background-color: hsl(263, 75%, 70%);
}



.priceHeader {
  text-align: center;
  font-size: 1.7rem;

  margin-bottom: 1rem;
  font-weight: 800; /* Maximum boldness, if not already set */
  color: #333;
}

.subscribeButton {
  background-color: darkred;
  color: white;
  border: none;
  margin: 1rem auto; /* Center button */
  display: block;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.75rem 5rem; /* Increased horizontal padding */
  width: auto; /* You can set a specific width if needed */
}

.subscribeButton:hover {
  background-color: #fc675f;
}

/* Responsive design breakpoints */
@media (min-width: 768px) {
  .modal {
      width: 40%;
  }
}

@media (min-width: 1024px) {
  .modal {
      width: 30%;
  }
}
.smallText {
  text-align: center;
  font-size: 0.9rem; 
  color: #6a00ff; /* Purple color */
  margin-top: 0.5rem; /* Spacing above the text */
  font-weight: normal; /* Adjust the weight as needed */
  text-decoration: underline; /* Adds underline to the text */
}

.smallText:hover {
  color: #a885ff; 
}

.referralfootnoteText{
  text-align: center;
  font-size: 0.9rem; 
  color: #ff0000;
  margin-top: 0.5rem; /* Adjust top margin for spacing */
  margin-right: 20rem;
  font-weight: normal;
  text-decoration: underline;
  
}


.referralfootnoteText:hover{
  color: #ff8585; 
}




.closeButton {
  position: absolute;
  top: 0.2rem; /* Adjust as needed */
  right: 0.9rem; /* Adjust as needed */
  background: transparent;
  border: none;
  font-size: 2rem; /* Adjust as needed */
  cursor: pointer;
  color: darkred /* Adjust as needed */
}

.closeButton:hover {
  color: #fc675f;
}








