.modal {
  position: fixed;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 90%;
  max-width: 800px;
  background: #fff;
  padding: 2rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  align-items: center;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.StripeElement {
  margin-bottom: 1.25rem;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: white;
}

.modalLeft {
  padding-right: 1em;
}

.modalRight {
  padding-left: 1em;
}

.freeHeader {
  text-align: center;
  font-size: 3rem; /* Adjust the size as needed */
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.divider {
  background-color: black; /* Changed from #ccc to black */
  width: 1px; /* Changed from 10px to make it a thin line */
  height: 100%; /* Make sure it stretches */
}

.modalPayment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modalMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.purpleButton {
  background-color: #6a00ff; /* Purple color */
  border: none;
  border-radius: 0.25rem;
  color: white;
  padding: 0.75rem 1rem; /* Match horizontal padding */
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Add the following if the subscribe button has a set width */
  width: auto; /* Match width of subscribe button if needed */
}


.purpleButton:hover {
  background-color: hsl(263, 75%, 70%);
}
.modalMessage h2 {
  margin-left: 40px; /* Adjust as needed */
}


.priceHeader {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.subscribeButton {
  background-color: #007bff;
  color: white;
  border: none;
  margin: 1rem auto; /* Center button */
  display: block;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.75rem 5rem; /* Increased horizontal padding */
  width: auto; /* You can set a specific width if needed */
}

.subscribeButton:hover {
  background-color: #0069d9;
}

/* Responsive design breakpoints */
@media (min-width: 768px) {
  .modal {
      width: 70%;
  }
}

@media (min-width: 1024px) {
  .modal {
      width: 50%;
  }
}
