.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(115deg,   #942e2e,   #942e2e); /* Soft gradient background */
    color: #000000; /* White text color */
    font-family: 'Arial', sans-serif; /* Modern font */
    width: 100vw; /* Scales the width according to the viewport width */
}

  


.centerWrapper {
    margin-top: -9; /* Adjust based on design preference */
    width: 50%; /* Increased width for better spacing */

    
}

.header h1 {
    margin: 0;
    padding-bottom: 1em;
    font-size: 2.5em; /* Larger font size */
    text-align: center; /* Center align the header */
    color: #ffffff; /* White text color */
}

.refForm {
    position: relative; /* Set .refForm to be the reference for absolute children */
    display: flex;
    align-items: center; /* Align children vertically in the center */
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-top: -30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputField {
    padding: 1rem;
    border: 2px solid #ff0000;
    border-radius: 8px;
    flex-grow: 1;
    transition: border-color 0.3s;
}

.inputField:focus {
    border-color: #ff0000; /* Change color on focus */
}

.valid {
    border: 2px solid rgb(204, 42, 42);
}

.invalid {
    border: 2px solid red;
}




.iconCheck,
.iconClose {
    position: absolute;
    right: 10px; /* Set to 10px or whatever looks best in the UI */
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    
}

.signInModal {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    max-width: 31.25em;
    padding: 2.5em;
    background: white; /* Mainly white background */
    border: 0.1em solid darkred; /* Dark red border */
    border-radius: 0.625em;
    box-shadow: 0 0.25em 1.25em rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
    height: 20em; /* Set your desired height */
    color: darkred;

    position: fixed; /* Changed from fixed to relative */
    padding-bottom: 3em; /* Add padding to accommodate the footer inside the modal */
  }

  .signInModal p {
    font-size: 1.5em; /* Adjust the size as needed */
    font-weight: bold; /* Make the text bold */
    margin-bottom: 1em; /* Add some space below the text if needed */
    /* Add other styles if needed to fit the design */
}

  

  .googleButton {
    width: 12em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
  }
  


  .closeButton {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 1.5em; /* Large 'X' symbol */
    cursor: pointer; /* Change cursor to indicate it's clickable */
    color: darkred;
  }
  
  

  .backButton {
    position: absolute;
    top: 10px;
    left: 30px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: rgb(255, 255, 255);
    /* Additional styling as needed */
  }

  
  /* Ensure the button is visible over other elements */
  .backButton:focus {
    outline: none;
  }

  @keyframes loadingAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loadingIcon {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 3px solid #942e2e; /* Color of loading circle */
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    animation: loadingAnimation 1.5s linear infinite; /* Animation uses the keyframes defined above */

    position: absolute;
    right: 15px; /* Set to 10px or whatever looks best in the UI */
    top: 35%;

  }

  .footer {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.9em;
    color: darkred;
    background: white; /* Optional: add a background if it should stand out */
  }
  
  .footerLink {
    color: darkred;
    text-decoration: none;
    padding: 7.5px;
    font-size: 0.9em;
  }
  
  .footerLink:hover {
    text-decoration: underline;
  }

  
  
  