.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns items to the start of the container */
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #dc6b6b;;
  }
  .centerWrapper {
    margin-top: 17em;
  }
  
  .header h1 {
    margin-top: 0em; /* Adjust the value to push the header down */
    color: #FFFFFF;
    padding-bottom: 1em;
    font-size: 2em;
  }

    .refForm {
        position: relative;
        display: flex; /* Ensure the wrapper is flex to respect the child flex-grow */
        max-width: 400px; /* Adjust if necessary */
        width: 100%; /* This makes sure the wrapper takes the full width */
        margin: auto; /* Centers the wrapper if the parent is flex */

    }
    
    .inputField {
        padding: 1rem;
        padding-right: 2rem; /* Make room for icon */
        border: 2px solid #ccc; /* Default border color, adjust as needed */
        border-radius: 0.5rem;
        flex-grow: 1; /* Ensure the input takes all available space */
        width: calc(100% - 2rem); /* Adjust the width to account for padding */
    }
    
    .valid {
        border: 2px solid green; /* Adjust as needed */
    }
    
    .invalid {
        border: 2px solid red; /* Adjust as needed */
    }
    
    .iconCheck,
    .iconClose {
        position: absolute;
        right: 2em; /* Adjust to match padding and border of inputField */
        top: 50%;
        transform: translateY(-50%);
        font-size: 1rem; /* Adjust size as needed */
    }
    
    .iconCheck {
        color: green;
    }
    
    .iconClose {
        color: red;
    }

    .button {
        color: red;
    }