.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(115deg,  #711e1e, #ffd2d2); /* Soft gradient background */
    color: #000000; /* White text color */
    font-family: 'Arial', sans-serif; /* Modern font */
}

.centerWrapper {
    margin-top: 0; /* Adjust based on design preference */
    width: 50%; /* Increased width for better spacing */
}

.header h1 {
    margin: 0;
    padding-bottom: 1em;
    font-size: 2.5em; /* Larger font size */
    text-align: center; /* Center align the header */
    color: #ffffff; /* White text color */
}

.refForm {
    display: flex;
    max-width: 500px; /* Adjusted max-width */
    width: 100%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.inputField {
    padding: 1rem;
    border: 2px solid #ff0000;
    border-radius: 8px; /* Rounded corners */
    flex-grow: 1;
    transition: border-color 0.3s; /* Smooth transition for border color */
}

.inputField:focus {
    border-color: #ff0000; /* Change color on focus */
}

.valid {
    border: 2px solid rgb(204, 42, 42);
}

.invalid {
    border: 2px solid red;
}

.iconCheck,
.iconClose {
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}

