.side {
  position: fixed;
  top: 100;
  left: 100;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #FFCCCC;  /* Light red */
}

  .newChatButton {
    border: 1px solid #000; 
    font-size: 1em;
    padding-left: 1px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 20px; /* Add margin to the left */
    margin-right: 20px; /* Add margin to the right */
  }
  
  .activeSessionButton {
    background-color: #e0f7fa; /* or any color you prefer */
  }
