/* Sidebar.module.css */
/* Sidebar.module.css */
.side {
  position: fixed;
  top: 0;
  left: 0;
  width: 190px; /* Adjust width as needed */
  height: 90%;
  overflow-y: auto;
  background-color: #ffffff; /* Dark background color 18191b */
  color: #000000;
  font-family: 'Arial', sans-serif; /* Modern font */
  padding: 20px;
  border: 1px solid #000000;
  padding-bottom: 100px; /* Adjust this value to match the total height of the .bottomSection */
  transition: all 0.3s ease; /* Smooth transition for opening/closing */
  z-index: 1000;
  bottom : 120px;

  transition: left 0.3s ease;

}











.newChatButton {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns items to the start of the container */
  background-color:#ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0;
  font-size: 14px;
  width: 165px;
  margin-left: -5px; 
}


.newChatButton:hover {
  background-color:#f3f3f3;  /* Slight highlight on hover */
  
}



.dateHeading {
  border-bottom: 1px solid #8d2121; /* Separator */
  padding-bottom: 7px;
  margin-bottom: 2px;
  
}

.sessionButton {
  background:  #ffffff; /* Dark grey background */
  border-radius: 6px;
  color: #000000; /* Bright gray color for text */
  font-family: 'Inter', sans-serif; /* Modern font */
  font-weight: 500;
  font-size: 13.5px;
  line-height: 27px; /* Increased line-height for vertical alignment */
  padding: 10px 20px; /* Adjusted padding for better spacing */
  margin: 8px 0; /* Spacing between buttons */
  display: flex;
  align-items: center; /* Align items vertically */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth background color transition on hover */
  margin-bottom: 2;
  width: 165px;
  height: 30px;
  margin-left: -5px; 
}

.sessionButton:hover {
  background-color:#f3f3f3; /* Slight highlight on hover */
}

.sessionButton img {
  margin-right: 10px; /* Space between icon and text */
}

.sessionContainer {
  margin-bottom: 5px; /* Reduce space between session containers */
}

.activeSessionButton {
  /* font-weight: bold; */
  background-color: rgb(194, 15, 15); /* Slight highlight on hover */
}

.trashCan {
  margin-left: auto; /* Pushes the trash can icon to the right */
  cursor: pointer;
  visibility: hidden; /* Hide the trash can icon */
}

.sessionContainer:hover .trashCan {
  display: inline;
  visibility: visible;
}

.bottomSection {
  position: fixed; /* Fixed to the bottom */
  bottom: 0; /* At the bottom of the viewport */
  left: 0; /* Align with the left edge of the viewport */
  width: 190px; /* Match the width of the sidebar */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the buttons */
  background-color: #ffffff; /* Match the sidebar background color */
  padding: 10px; /* Match the sidebar padding */
  box-sizing: border-box; /* Include padding and border in the width */
  z-index: 10; /* Ensure it's above other content but below modal dialogs, etc. */
  border: 1px solid #000000;

  height: 125px; /* Fixed height */
}

.bottomButton {
  width: 100%; /* Full width of the bottom section */
  background-color: #ffffff; /* Dark button background color */
  color: #ffffff; /* White text color */
  border: none; /* No borders */
  border-radius: 4px; /* Rounded corners like in the screenshot */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */

  font-size: 12px; /* Smaller font size */
  color: #000000;
  padding: 5px 15px; /* Reduced padding to make buttons smaller */
  margin-bottom: 5px; /* Reduced space between buttons */

  text-align: left; /* Align text to the left */

  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the start (left) */
  padding-left: 5px; /* Space from the left edge */
  white-space: nowrap; /* Prevents the text from wrapping */

  position: relative;
}


.bottomButton:hover {
  background-color: #f3f3f3; /* Slight highlight on hover */
}

.bottomButton:last-child {
  margin-bottom: 0; /* No margin for the last button to avoid extra space */
}

.discordIcon {
  /* Adjust the size of the icon as needed */
  width: auto; /* Maintain the aspect ratio */
  height: 12px; /* Example height, adjust as needed */
  margin-right: 5px; /* Space between the icon and the text */
}


.logoutIcon {
  height: 12px; /* Adjust size as needed */
  margin-right: 12px; /* Space between the icon and the text */
  padding-left: 4px; /* Extra space to the left of the icon */
  flex-shrink: 0; /* Prevents the icon from shrinking */
}
.logoutText {
  margin-left: -3.5px; /* Adjust value as needed to move text to the left */
}

.chatIcon {
  height: 15px; /* Adjust the size as needed */
  margin-left: 55px; /* Space between the text and the icon */
  flex-shrink: 0; /* Prevents the icon from shrinking */
}



.referButton {
  background-color: #ffffff; /* A bright color for the button */
  color: #000000; /* White text color for contrast */
  font-size: 14px; /* Slightly smaller font size */
  font-weight: bold;
  padding: 8px 16px; /* Smaller padding for a smaller button */
  border: none;
  border-radius: 0; /* Makes the button rectangular */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  border: 1px solid #ff0000;
  justify-content: flex-start; /* Align items to the start (left) */
  padding-left: 29px; /* Same as .sessionButton padding for alignment */
  position: relative;
  
}




.newTag {
  background-color: #ffd700; /* NEW tag background color */
  color: #000000; /* NEW tag text color */
  font-size: 9.5px;

  padding: 2px 4px;
  border-radius: 4px; /* Slightly rounded corners for the NEW tag */
  position: absolute; /* Position absolutely within the button */
  top: 50%;
  right: 10px; /* Position the NEW tag to the right inside the button */
  transform: translateY(-50%); /* Center the tag vertically */
  /* Remove margin-left and right properties if previously set */
}

.referIcon {
  height: 12px;
  width: auto; /* Keep the aspect ratio of the icon */
  position: absolute; /* Position the icon absolutely within the button */
  left: 8px; /* Adjust this value to set the icon's distance from the left edge */
  top: 50%; /* Center the icon vertically */
  transform: translateY(-50%); /* Shift the icon up by half its height for vertical centering */
  flex-shrink: 0;
}


.toggleButton {
  position: fixed;
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Align button vertically */
  background-color: #333; /* Dark background for better visibility */
  color: #fff; /* White color for the icon/text */
  border: none; /* No border for a cleaner look */
  padding: 10px 15px; /* Slight increase in horizontal padding */
  cursor: pointer;
  z-index: 20; /* Above other content */
  border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
  right: -50px; /* Start off-screen */
  transition: right 0.3s ease;
}

/* Additional class to move button to the left when sidebar is closed */
.toggleButton-closed {
  right: 190px; 
}



.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.modalTitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.modalMessage {
  font-size: 16px;
  margin-bottom: 20px;
}

.modalButtonContainer {
  display: flex;
  justify-content: space-around;
}

.modalButton {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.modalButton.cancel {
  background-color: #ccc;
}

.modalButton.delete {
  background-color: #ff4d4d;
  color: #fff;
}



.modalOverlay {
  display: flex;
  justify-content: center; /* Keep it centered, but add margin to .modalContainer to push it right */
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
}

.modalContainer {
  background-color: #fff;
  padding: 40px; /* More padding for a spacious look */
  border-radius: 10px; /* Rounded corners for modern look */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Larger shadow for more depth */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  width: 400px; /* Wider container */
  max-width: 90%; /* Ensure it doesn't get too wide on small screens */
  margin-left: 100px;
  margin-top: 180px;
}

.modalButtonContainer {
  width: 100%; /* Full width */
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Center buttons */
  gap: 20px; /* Space between buttons */
}

.modalButton {
  background-color: darkred; /* Red background */
  color: #fff; /* White text */
  border: none; /* No border */
  padding: 15px 30px; /* Larger padding for bigger buttons */
  border-radius: 5px; /* Slightly rounded corners for buttons */
  cursor: pointer;
  font-size: 14px; /* Larger font size */
  width: 70%; /* Use a percentage of the container width */
  max-width: 300px; /* Maximum width for buttons */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */

}

.modalButton:hover {
  background-color: #e63939; /* Slightly darker red on hover */
  transform: translateY(0px); /* Lift button up slightly on hover */
}



/* Add any additional global styles for the popup, such as font family */
.modalContainer {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Professional font */
}










/* Overlay styles */
.modalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

/* Container for the popup */
.modalContainer {

  background-color: #f8f8f8; /* Lighter background */
  padding: 50px; /* Increased padding */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  max-width: 70%;
  margin-left: 120px;
  margin-top: 5px;
  z-index: 1000;
}

/* Container for the buttons */
.modalButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between buttons */
}

/* Button styles */
.modalButton {
  background: linear-gradient(145deg, #b61313, #ac1a1a); /* Gradient background */
  color: #fff;
  border-radius: 8px; 
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 80%; /* Adjust the width as needed */
  max-width: 300px; /* Maximum width for buttons */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center; /* Center text inside the button */
  margin-bottom: 10px; /* Margin at the bottom of each button */
}

/* Hover effect for buttons */
.modalButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 3D hover effect */
  background: linear-gradient(145deg, #ff6868, #fe8a8a); /* Inverted gradient */
}


.closeButton {
  position: absolute;
  margin-left: 165px;
  margin-top: -45px;


  color: darkred; /* White text color for contrast */
  font-size: 22px; /* Larger font size */
  font-weight: bold; /* Bold font for visibility */
}

.closeButton:hover {
  color: #d9534f; /* Darker shade on hover for feedback */
}











/* Responsive adjustments if needed */
@media (max-width: 600px) {
  .modalContainer {
    margin-left: 0; /* Full width on smaller screens */
  }
  .modalButton {
    width: 100%; /* Full width buttons on smaller screens */
  }
}


.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* In your Sidebar.module.css */
.greyedOut {
  opacity: 0.5; /* Adjust as needed for the grey-out effect */
  background-color: rgba(0, 0, 0, 0.5); /* Optional, for a darker overlay */
}














